@let oldPassword = changePwForm.get('oldPassword');
@let newPassword = changePwForm.get('newPassword');
@let newConfirmPassword = changePwForm.get('newConfirmPassword');
<div class="col-md-8 offset-md-2 py-2">
  <h2 class="my-3 text-center">Jelszó megváltoztatása</h2>
  <form [formGroup]="changePwForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Régi jelszó</label>
      <input
        type="password"
        class="form-control"
        id="oldPassword"
        formControlName="oldPassword"
        [class.is-invalid]="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
        [class.is-valid]="oldPassword?.valid && (oldPassword?.dirty || oldPassword?.touched)"
      />
      @if (oldPassword?.dirty && oldPassword?.invalid) {
        <small class="text-danger"> Hibás jelszó </small>
      }
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">Új jelszó</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        [class.is-invalid]="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"
        [class.is-valid]="newPassword?.valid && (newPassword?.dirty || newPassword?.touched)"
      />
      @if (newPassword?.dirty && newPassword?.invalid) {
        <small class="text-danger"> Hibás jelszó </small>
      }
    </div>

    <div class="mb-3">
      <label for="newConfirmPassword" class="form-label">Jelszó megerősítése</label>
      <input
        type="password"
        class="form-control"
        id="newConfirmPassword"
        formControlName="newConfirmPassword"
        [class.is-invalid]="
          (newConfirmPassword?.invalid &&
            (newConfirmPassword?.dirty || newConfirmPassword?.touched)) ||
          changePwForm.hasError('passwordMismatch')
        "
        [class.is-valid]="
          newConfirmPassword?.valid && (newConfirmPassword?.dirty || newConfirmPassword?.touched)
        "
      />
      @if (newConfirmPassword?.dirty && newConfirmPassword?.invalid) {
        <small class="text-danger"> Hibás jelszó </small>
      }
      @if (changePwForm.hasError('passwordMismatch') && newConfirmPassword?.dirty) {
        <small class="text-danger"> A jelszavak nem egyeznek </small>
      }
    </div>

    <button class="btn btn-success d-block mx-auto" [disabled]="changePwForm.invalid">
      Megváltoztat
    </button>
  </form>
</div>
