<div class="py-3 d-flex flex-row gap-2 align-items-center">
  <span
    class="badge rounded-pill bg-primary text-light badge-lg fs-6 flex-grow-0"
    [class.bg-primary]="isSelected(allOption)()"
    [class.bg-light]="!isSelected(allOption)()"
    [class.text-light]="isSelected(allOption)()"
    [class.text-dark]="!isSelected(allOption)()"
    (click)="onItemClick(allOption)"
  >
    {{ allOption.label }}
  </span>
  @if (loading) {
    <app-spinner size="sm"></app-spinner>
  } @else {
    <div class="d-flex overflow-x-auto overflow-y-hidden gap-2">
      @for (item of displayItems(); track $index) {
        <span
          class="badge rounded-pill fs-6"
          [class.bg-primary]="isSelected(item)()"
          [class.bg-light]="!isSelected(item)()"
          [class.text-light]="isSelected(item)()"
          [class.text-dark]="!isSelected(item)()"
          (click)="onItemClick(item)"
        >
          {{ item.label }}
        </span>
      }
    </div>
  }
</div>
