<button
  class="btn btn-primary my-3 ms-auto d-block"
  [routerLink]="['/dashboard/manage/recipes/add']"
>
  <i class="bi bi-plus"></i>
  Hozzáadás
</button>

<app-admin-recipe-filter
  (changeCategoryIdEvt)="changeCategory($event)"
  (changeSearchStringEvt)="changeSearchString($event)"
  (changeCusinIdEvt)="changeCuisin($event)"
></app-admin-recipe-filter>

@let isLoading = recipeStore.isLoading();
@let recipes = recipeStore.recipes();
@let empty = recipes.length === 0;

<div class="row mt-3">
  @if (isLoading && empty) {
    <app-spinner></app-spinner>
  } @else if (!empty) {
    @for (recipe of recipes; track $index) {
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <app-admin-recipe-card
          [recipe]="recipe"
          (confirmDeleteEvent)="showDeleteConfirm($event)"
          editUrl="/dashboard/manage/recipes/edit"
        >
        </app-admin-recipe-card>
      </div>
    }
  } @else {
    <p class="text-center my-3">Nincs találat</p>
  }
  @if (isLoading && !empty) {
    <app-spinner></app-spinner>
  }
</div>

<app-infinite-scroll (loadMore)="loadMore(inf)" #inf></app-infinite-scroll>
<app-confirm-modal
  [isOpen]="isShowDeleteConfirm"
  [title]="'Törlés megerősítése'"
  [btnCloseTitle]="'Mégse'"
  [btnConfirmTitle]="'Törlés'"
  (confirmEvt)="onConfirmDelete($event)"
>
  Biztosan törölni szeretnéd a <b>"{{ selectedRecipe()?.name }}"</b> -t ?
</app-confirm-modal>
