<button class="btn btn-primary mt-3 d-block ms-auto" (click)="openAddIngredientModal()">
  <i class="bi bi-plus"></i>
  Hozzáadás
</button>
<div class="rounded-2 bg-light p-2 my-3">
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="searchString"
      id="searchString"
      placeholder=""
      (input)="changeSearchString($event.target.value)"
    />
    <label for="searchString">Keresés</label>
  </div>
</div>

@if (vm().loading) {
  <app-spinner></app-spinner>
} @else if (!vm().loading && vm().ingredients.length === 0) {
  <p class="text-center my-3 p-2">Nincs találat</p>
} @else {
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Hozzávaló neve</th>
          <th class="text-center">Mértékegység</th>
          <th class="text-center">Műveletek</th>
        </tr>
      </thead>
      <tbody>
        @for (ingredient of vm().ingredients; track $index) {
          <tr>
            <td>
              {{ ingredient.name }}
            </td>
            <td class="text-center">
              {{ ingredient.unit }}
            </td>
            <td class="text-center">
              <button
                class="btn-sm btn rounded-circle btn-danger me-2"
                (click)="showDeleteConfirm(ingredient)"
              >
                <i class="bi bi-trash"></i>
              </button>
              <button
                class="btn-sm btn rounded-circle btn-success"
                (click)="openAddIngredientModal(ingredient)"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

<app-infinite-scroll (loadMore)="loadMore(inf)" #inf></app-infinite-scroll>

<app-add-ingredient-modal
  [isOpen]="isOpenAddIngredientModal"
  [ingredient]="selectedIngredient"
  (onCloseEvt)="onCloseAddIngredientModal()"
  (confirmEvt)="isOpenAddIngredientModal = false"
>
</app-add-ingredient-modal>

<app-confirm-modal
  [isOpen]="isConfirmModalShow"
  title="Törlés megerősítése"
  [type]="'danger'"
  (confirmEvt)="onConfirmModal($event)"
  [btnConfirmTitle]="'Törlés'"
  [btnCloseTitle]="'Mégse'"
>
  <h3>
    Biztosan törölni szeretnéd a <b>{{ selectedIngredient?.name }}</b
    >?
  </h3>
</app-confirm-modal>
