<button class="btn btn-primary d-block ms-auto my-3" routerLink="/profile/recipes/add">
  <i class="bi bi-plus"></i>
  Hozzáadás
</button>

<div class="mt-3">
  <app-recipe-filter
    (changeCategoryIdEvt)="changeCategory($event)"
    (changeSearchStringEvt)="changeSearchString($event)"
    (changeCusinIdEvt)="changeCuisine($event)"
  ></app-recipe-filter>
</div>

@let recipes = recipeStore.myRecipes();
@let isLoading = recipeStore.isLoading();

@if (!isLoading) {
  <div class="row mt-5">
    @for (recipe of recipes; track recipe.id) {
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <app-my-recipe-card [recipe]="recipe"></app-my-recipe-card>
      </div>
    } @empty {
      <p class="text-center my-3">Nincs találat</p>
    }
  </div>
} @else {
  <app-spinner></app-spinner>
}

<app-confirm-modal
  [btnCloseTitle]="'Mégse'"
  [btnConfirmTitle]="'Törlés'"
  (confirmEvt)="onConfirmDelete($event)"
  [isOpen]="isShowDeleteConfirm"
  [title]="'Törlés megerősítése'"
>
  Biztosan törölni szeretnéd a <b>"{{ selectedRecipe?.name }}"</b> -t ?
</app-confirm-modal>
<app-infinite-scroll (loadMore)="loadMore(inf)" #inf></app-infinite-scroll>
