@if (totalPages > 11) {
  <nav aria-label="Page navigation" class="d-flex justify-content-center my-3">
    <ul class="pagination">
      <li class="page-item disabled" [class.disabled]="page === 1">
        <a class="page-link" href="#" aria-label="Previous" (click)="goToPage(page - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for (p of pages; track $index) {
        <li class="page-item active" aria-current="page" (click)="goToPage(p)">
          <a class="page-link" href="#">{{ p }}</a>
        </li>
      }

      <li class="page-item">
        <a
          class="page-link"
          aria-label="Next"
          [class.disabled]="page === totalPages"
          (click)="goToPage(page + 1)"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
}
