<nav class="navbar navbar-expand-sm navbar-dark bg-primary bg-opacity-75 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/summary"
            routerLinkActive="active"
            >Statisztika</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/manage/recipes"
            routerLinkActive="active"
            >Kezelés
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/manage/categories"
            routerLinkActive="active"
            >Kategóriák
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/manage/ingredients"
            routerLinkActive="active"
            >Hozzávalók
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/manage/users"
            routerLinkActive="active"
            >Felhasználók</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active bg-warning text-dark rounded-2"
            aria-current="page"
            routerLink="/"
            >Receptes</a
          >
        </li>
      </ul>
      <!--
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Keresés" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
      </form>
      -->
    </div>
  </div>
</nav>