<header
  style="width: 100vw; margin-left: calc(-50vw + 50%)"
  class="heading container-flui py-md-4 py-2 shadow"
>
  <div class="container">
    <h1 class="text-white fs-1">Mit főzöl ma?</h1>
    <h2 class="text-white fs-5">Keress több ezer recept között</h2>
    <div class="mt-3">
      <app-recipe-filter
        (changeCategoryIdEvt)="changeCategory($event)"
        (changeSearchStringEvt)="changeSearchString($event)"
        (changeCusinIdEvt)="changeCuisin($event)"
        [selectedCategory]="selectedCategory"
        [selectedCuisine]="selectedCuisine"
        [searchString]="searchString"
      ></app-recipe-filter>
    </div>
    <div class="mt-3">
      <app-select-ingredient
        (ingredientChanged)="onChangeIngredient($event)"
      ></app-select-ingredient>
    </div>
  </div>
</header>

@let recipes = recipeStore.recipes();
@let isLoading = recipeStore.isLoading();
<div class="row mt-5">
  @if (isLoading && recipes.length === 0) {
    <app-spinner></app-spinner>
  } @else if (recipes.length > 0) {
    @for (recipe of recipes; track recipe.id) {
      <div class="col-6 col-md-6 col-lg-4 mb-3">
        <app-recipe-card
          [recipe]="recipe"
          [isFavorite]="recipeStore.isFavorite(recipe.id)()"
        ></app-recipe-card>
      </div>
    }
  } @else {
    <p class="text-center my-3">Nincs találat</p>
  }

  @if (isLoading && recipes.length > 0) {
    <app-spinner></app-spinner>
  }
</div>

<app-infinite-scroll (loadMore)="loadMore(inf)" #inf></app-infinite-scroll>
