<div class="mt-3">
  <app-recipe-filter
    (changeCategoryIdEvt)="changeCategory($event)"
    (changeSearchStringEvt)="changeSearchString($event)"
    (changeCusinIdEvt)="changeCuisin($event)"
  ></app-recipe-filter>
</div>
<div class="mt-3">
  <app-select-ingredient (ingredientChanged)="onChangeIngredient($event)"></app-select-ingredient>
</div>

<div class="row mt-5">
  @for (recipe of recipeStore.recipes(); track $index) {
    <div class="col-6 col-md-6 col-lg-4 mb-3">
      <app-recipe-card [recipe]="recipe" [isFavorite]="false"></app-recipe-card>
    </div>
  }
</div>
@if (recipeStore.isLoading()) {
  <div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary spinner-border-lg" role="status">
      <span class="visually-hidden">Betöltés...</span>
    </div>
  </div>
} @else if (!recipeStore.isLoading && recipeStore.recipes().length === 0) {
  <p class="text-center my-3">Nincs találat</p>
}
<!-- <app-infinite-scroll (loadMore)="loadMore(inf)" #inf></app-infinite-scroll> -->
