<div class="filter rounded-2 bg-light p-2 shadow-sm">
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder=""
      [(ngModel)]="searchString"
      (keyup)="onSearchStringChange()"
    />
    <label for="name">Keresés</label>
  </div>
  <app-select
    [items]="categorySelectItems"
    (changeSelectedEvt)="onCategoryChange($event)"
    [(ngModel)]="selectedCategory"
    [multiple]="false"
  ></app-select>

  <app-select
    [items]="cuisinSelectItems"
    (changeSelectedEvt)="onCuisinChange($event)"
    [(ngModel)]="selectedCuisin"
    [multiple]="false"
  >
  </app-select>
</div>
